* {
    font-family: 'Baloo Bhai 2', cursive;
}

a {
    font-size: 2rem;
    text-decoration: none !important;
}

nav {
    background-color: #EE4040 !important;
}

span {
    margin-right: .5rem;
    margin-left: .5rem;
}

#nav-logo {
    color: #fff;
}

#nav-btn {
    color: #fff;
}


.card {
    width: 20rem !important;
    min-width: 10.5rem !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}
  
.navbar-toggler {
    border-color: rgb(255,255,255) !important;
}

.display-card {
    margin-bottom: 3rem;
}

.list {
    margin: 8rem 5rem 0 5rem;
}

@media (max-width: 576px) {
    span {
        margin-right: .1rem;
        margin-left: .1rem;
    }

    .card-title {
        font-size: 1.75rem;
    }

    .display-card {
        margin-bottom: 2rem;
    }

    .row {
        width: 100vw !important;
        position: relative !important;
        left: -5rem !important;
    }

    .type-text {
        font-size: 1.5rem;
    }
}

/** pokemon colors**/

.bug-light {
    background-color: #C6D16E !important;
}

.bug {
    background-color: #A8B820 !important;
}

.dark-light {
    background-color: #A29288 !important;
}

.dark {
    background-color: #705848 !important;
}

.dragon-light {
    background-color: #A27DFA !important;
}

.dragon {
    background-color: #7038F8 !important;
}

.electric-light {
    background-color: #FAE078 !important;
}

.electric {
    background-color: #F8D030 !important;
}

.fairy-light {
    background-color: #F4BDC9 !important;
}

.fairy {
    background-color: #EE99AC !important;
}

.fighting-light {
    background-color: #D67873 !important;
}

.fighting {
    background-color: #C03028 !important;
}

.fire-light {
    background-color: #F5AC78 !important;
}

.fire {
    background-color: #F08030 !important;
}

.flying-light {
    background-color: #C6B7F5 !important;
}

.flying {
    background-color: #A890F0 !important;
}

.ghost-light {
    background-color: #A292BC !important;
}

.ghost {
    background-color: #705898 !important;
}

.grass-light {
    background-color: #A7DB8D !important;
}

.grass {
    background-color: #78C850 !important;
}

.ground-light {
    background-color: #EBD69D !important;
}

.ground {
    background-color: #E0C068 !important;
}

.ice-light {
    background-color: #BCE6E6 !important;
}

.ice {
    background-color:  #98D8D8 !important;
}

.normal-light {
    background-color: #C6C6A7 !important;
}

.normal {
    background-color: #A8A878 !important;
}

.poison-light {
    background-color: #C183C1 !important;
}

.poison {
    background-color: #A040A0 !important;
}

.psychic-light {
    background-color: #FA92B2 !important;
}

.psychic {
    background-color: #F85888 !important;
}

.rock-light {
    background-color: #D1C17D !important;
}

.rock {
    background-color: #B8A038 !important;
}

.steel-light {
    background-color: #D1D1E0 !important;
}

.steel {
    background-color: #B8B8D0 !important;
}

.water-light {
    background-color: #9DB7F5 !important;
}

.water {
    background-color: #6890F0 !important;
}
/** end of pokemon colors**/